/* line 3, ../scss/terminal_block.scss */
body #compo-list .list-inner {
  margin-top: 8px;
  min-height: 80px;
}
/* line 7, ../scss/terminal_block.scss */
body #compo-list .col-right {
  padding: 5px 0 0 10px;
}
/* line 9, ../scss/terminal_block.scss */
body #compo-list .col-right h4 {
  margin: 5px;
}
/* line 14, ../scss/terminal_block.scss */
body .load-search-blocks {
  background: url("/terminal-block/img/loading.gif");
  background-repeat: no-repeat;
  width: 134px;
  margin: 10px auto;
  height: 57px;
  min-height: 10px;
}
/* line 24, ../scss/terminal_block.scss */
body .block-detail .block-detail-img img {
  max-width: 100%;
}
/* line 28, ../scss/terminal_block.scss */
body .block-detail .block-detail-description {
  margin: 10px 0 0 0;
}
/* line 32, ../scss/terminal_block.scss */
body #termnal-main-wrap {
  margin: 0 0 200px 0;
}
/* line 35, ../scss/terminal_block.scss */
body #terminal-wrap {
  height: 200px;
  background: rgba(0, 0, 0, 0.8);
}
/* line 39, ../scss/terminal_block.scss */
body .footer {
  color: #eee;
  z-index: 1031;
}
/* line 43, ../scss/terminal_block.scss */
body .footer #terminal-list {
  padding: 10px;
}
/* line 45, ../scss/terminal_block.scss */
body .footer #terminal-list li {
  margin: 10px;
}
