body{
    #compo-list{
        .list-inner{
            margin-top: 8px;
            min-height: 80px;
        }
        .col-right{
                padding:  5px 0 0 10px;
                h4{
                    margin: 5px;
                }
            }
    }
    .load-search-blocks{
            background: url("/terminal-block/img/loading.gif");
            background-repeat: no-repeat;
            width: 134px;
            margin: 10px auto;
            height: 57px;
            min-height:  10px;
    }
    .block-detail{
        .block-detail-img{
            img {
                max-width:  100%;
            }
        }
        .block-detail-description{
            margin: 10px 0 0 0;
        }
    }
    #termnal-main-wrap{
        margin:  0 0 200px 0;
    }
    #terminal-wrap{
        height: 200px;
        background:  rgba(0, 0, 0, .8);
    }
    .footer{
        color: #eee;
        z-index: 1031;

        #terminal-list{
            padding: 10px;
            li{
                margin: 10px;
                .block{

                }
            }
        }
    }
}
